@font-face {
    font-family: 'opensans-regular';
    src: url("#{$path-font}/opensans/OpenSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-bold';
    src: url("#{$path-font}/opensans/OpenSans-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-semibold';
    src: url("#{$path-font}/opensans/OpenSans-SemiBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.opensansRegular {
    font-family: 'opensans-regular', 宋体, SimSun, 华文细黑, STXihei, sans-serif;
    font-weight: 400;
}

.opensansBold {
    font-family: 'opensans-bold', 宋体, SimSun, 华文细黑, STXihei, sans-serif;
    font-weight: bold;
}

.opensansSemiBold {
    font-family: 'opensans-semibold', 宋体, SimSun, 华文细黑, STXihei, sans-serif;
    font-weight: bold;
}