.light-text {
    font-weight: 300 !important;
}

.semibold-text {
    font-weight: 600 !important;
}

.normal-text {
    font-weight: normal !important;
}

.italic {
    font-style: italic !important;
}

.underline {
    text-decoration: underline !important;
}

.strike {
    text-decoration: line-through !important;
}

.upper-case {
    text-transform: uppercase !important;
}

.lower-case {
    text-transform: lowercase !important;
}

.normal-case {
    text-transform: none !important;
}

.inline-block {
    display: inline-block !important;
}

.no-wrap {
    white-space: nowrap !important;
}

.v-align-t {
    vertical-align: top !important;
}

.v-align-tt {
    vertical-align: text-top !important;
}

.v-align-m {
    vertical-align: middle !important;
}

.v-align-b {
    vertical-align: baseline !important;
}

.text-justify {
    text-align: justify !important;
}

.text-small {
    font-size: 11px !important;
    line-height: 14px !important;
}

.relative {
    position: relative !important;
}

.static {
    position: static !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.float-l {
    float: left !important;
}

.float-r {
    float: right !important;
}

.float-n {
    float: none !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.cursor-default {
    cursor: default !important;
}

.color-black {
    color: $color-black !important;
}

.color-white {
    color: $color-white !important;
}

.color-red {
    color: $color-red !important;
}

.color-red-light {
    color: $color-red-light !important;
}

.color-red-dark {
    color: $color-red-dark !important;
}

.color-grey {
    color: $color-grey !important;
}

.color-grey-light {
    color: $color-grey-light !important;
}

.color-grey-dark {
    color: $color-grey-dark !important;
}

.color-green {
    color: $color-green !important;
}

.color-green-light {
    color: $color-green-light !important;
}

.color-green-dark {
    color: $color-green-dark !important;
}

.color-blue {
    color: $color-blue !important;
}

.color-blue-light {
    color: $color-blue-light !important;
}

.color-blue-dark {
    color: $color-blue-dark !important;
}

.color-yellow {
    color: $color-yellow !important;
}

.color-orange {
    color: $color-orange !important;
}

.color-lime {
    color: $color-lime !important;
}

.color-cyan {
    color: $color-cyan !important;
}

.color-magenta {
    color: $color-magenta !important;
}

.color-silver {
    color: $color-silver !important;
}

.color-maroon {
    color: $color-maroon !important;
}

.color-olive {
    color: $color-olive !important;
}

.color-purple {
    color: $color-purple !important;
}

.color-teal {
    color: $color-teal !important;
}

.color-navy {
    color: $color-navy !important;
}

.color-turquoise {
    color: $color-turquoise !important;
}

.color-gold {
    color: $color-gold !important;
}

.color-primary {
    color: $color-primary !important;
}

.font-11 {
    font-size: 11px !important;
    line-height: 13px !important;
}

.font-12 {
    font-size: 12px !important;
    line-height: 14px !important;
}

.font-13 {
    font-size: 13px !important;
    line-height: 15px !important;
}

.font-14 {
    font-size: 14px !important;
    line-height: 17px !important;
}

.font-16 {
    font-size: 16px !important;
    line-height: 20px !important;
}

.font-18 {
    font-size: 18px !important;
    line-height: 22px !important;
}

.font-20 {
    font-size: 20px !important;
    line-height: 24px !important;
}

.font-22 {
    font-size: 22px !important;
    line-height: 26px !important;
}

.m-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.no-border {
    border: none !important;
}

.max-w-100 {
    max-width: 100px !important;
}

.max-w-150 {
    max-width: 150px !important;
}

.max-w-200 {
    max-width: 200px !important;
}

.max-w-300 {
    max-width: 300px !important;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.rounded-circle {
    border-radius: 50% !important;
}

.row {
    &.row-0 {
        margin-left: 0;
        margin-right: 0;

        > [class*="col"] {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &.row-5 {
        margin-left: -5px;
        margin-right: -5px;

        > [class*="col"] {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    &.row-10 {
        margin-left: -10px;
        margin-right: -10px;

        > [class*="col"] {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}