.icon-styles {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-decoration: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;

    &:hover {
        text-decoration: none;
    }
}

.icon-schedule-white {
    @extend .icon-styles;
    background-image: url("#{$path-icons}/icon-schedule-white.svg");
    @include size(25px, 25px);
}

.icon-chat-white {
    @extend .icon-styles;
    background-image: url("#{$path-icons}/icon-chat-white.svg");
    @include size(25px, 25px);
}

.icon-rating-white {
    @extend .icon-styles;
    background-image: url("#{$path-icons}/icon-rating-white.svg");
    @include size(25px, 25px);
}

.icon-user-white {
    @extend .icon-styles;
    background-image: url("#{$path-icons}/icon-user-white.svg");
    @include size(25px, 25px);
}

.icon-book-white {
    @extend .icon-styles;
    background-image: url("#{$path-icons}/icon-book-white.svg");
    @include size(25px, 25px);
}

.icon-doctor {
    @extend .icon-styles;
    background-image: url("#{$path-icons}/icon-doctor.svg");
    @include size(25px, 25px);
}

.icon-doctor-white {
    @extend .icon-styles;
    background-image: url("#{$path-icons}/icon-doctor-white.svg");
    @include size(25px, 25px);
}

.icon-home-white {
    @extend .icon-styles;
    background-image: url("#{$path-icons}/icon-home-white.svg");
    @include size(35px, 35px);
}

.icon-ticket-white {
    @extend .icon-styles;
    background-image: url("#{$path-icons}/icon-ticket-white.svg");
    @include size(25px, 25px);
}

.icon-pencil {
    @extend .icon-styles;
    background-image: url("#{$path-icons}/icon-pencil.svg");
    @include size(16px, 16px);
}

.icon-garbage {
    @extend .icon-styles;
    background-image: url("#{$path-icons}/icon-garbage.svg");
    @include size(16px, 16px);
}

.icon-calendar {
    @extend .icon-styles;
    background-image: url("#{$path-icons}/icon-calendar.svg");
    @include size(22px, 22px);
}

.icon-close {
    @extend .icon-styles;
    background-image: url("#{$path-icons}/icon-close.svg");
    @include size(14px, 14px);
}