@function opposite-direction($directions) {
    $opposite-directions: ();
    $direction-map: ('top': 'bottom', 'right': 'left', 'bottom': 'top', 'left': 'right', 'center': 'center', 'ltr': 'rtl', 'rtl': 'ltr');
    @each $direction in $directions {
        $direction: to-lower-case($direction);
        @if map-has-key($direction-map, $direction) {
            $opposite-directions: append($opposite-directions, unquote(map-get($direction-map, $direction)));
        } @else {
            @warn "No opposite direction can be found for `#{$direction}`. Direction omitted.";
        }
    }
    @return $opposite-directions;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin square($size) {
    @include size($size, $size);
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin user-select($user-select) {
    -webkit-user-select: $user-select;
    -moz-user-select: $user-select;
    -ms-user-select: $user-select;
    user-select: $user-select;
}

@mixin translate($x,$y) {
    -webkit-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    -o-transform: translate($x, $y);
    transform: translate($x, $y);
}

@mixin translateX($x) {
    -webkit-transform: translateX($x);
    -ms-transform: translateX($x);
    -o-transform: translateX($x);
    transform: translateX($x);
}

@mixin translateY($y) {
    -webkit-transform: translateY($y);
    -ms-transform: translateY($y);
    -o-transform: translateY($y);
    transform: translateY($y);
}

@mixin gray-scale($value:100%) {
    filter: grayscale($value);
    -webkit-filter: grayscale($value);
    -moz-filter: grayscale($value);
    -ms-filter: grayscale($value);
    -o-filter: grayscale($value);
}

@mixin rotate($x) {
    -webkit-transform: rotate($x);
    -moz-transform: rotate($x);
    -o-transform: rotate($x);
    transform: rotate($x);
}

// Transformations
@mixin scale($ratio...) {
    -webkit-transform: scale($ratio);
    -ms-transform: scale($ratio); // IE9 only
    -o-transform: scale($ratio);
    transform: scale($ratio);
}

@mixin scaleX($ratio) {
    -webkit-transform: scaleX($ratio);
    -ms-transform: scaleX($ratio); // IE9 only
    -o-transform: scaleX($ratio);
    transform: scaleX($ratio);
}

@mixin scaleY($ratio) {
    -webkit-transform: scaleY($ratio);
    -ms-transform: scaleY($ratio); // IE9 only
    -o-transform: scaleY($ratio);
    transform: scaleY($ratio);
}

@mixin align-center($horizontal: true, $vertical: true) {
    position: absolute;
    @if ($horizontal and $vertical) {
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
    } @else if ($horizontal) {
        left: 50%;
        @include translate(-50%, 0);
    } @else if ($vertical) {
        top: 50%;
        @include translate(0, -50%);
    }
}

@mixin wrap-text() {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

@mixin placeholder($color: $color-grey) {
    // Firefox
    &::-moz-placeholder {
        color: $color;
        font-size: 12px;
        opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
    }
    &:-ms-input-placeholder {
        color: $color;
    }
    // Internet Explorer 10+
    &::-webkit-input-placeholder {
        color: $color;
    }
    // Safari and Chrome
}

@mixin triangle($direction, $color: #000, $size: 1em) {
    @if not index(top right bottom left, $direction) {
        @error "Direction must be either `top`, `right`, `bottom` or `left`.";
    }
    width: 0;
    height: 0;
    content: '';
    border-#{opposite-direction($direction)}: $size solid $color;
    $perpendicular-borders: $size solid transparent;
    @if $direction==top or $direction==bottom {
        border-left: $perpendicular-borders;
        border-right: $perpendicular-borders;
    } @else if $direction==right or $direction==left {
        border-bottom: $perpendicular-borders;
        border-top: $perpendicular-borders;
    }
}

@mixin alert-styles-plain($color) {
    background: $color;
    border-top: 1px solid darken($color, 15%);
    border-bottom: 1px solid darken($color, 15%);
    color: darken($color, 55%);
}

@mixin cover-background($img-uri, $background-top:"center", $background-left:"center", $background-attachment:"fixed") {
    background: url($img-uri) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin text-clamp($lines: 2, $line-height: false) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;

    @if $line-height {
        max-height: $line-height * $lines * 1px;
    }
}

@mixin alert-styles($color) {
    @include gradient-vertical($start-color: $color, $end-color: darken($color, 7.5%));
    border-color: darken($color, 15%);
}

@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex: $values;
    -webkit-flex: $values;
    -ms-flex: $values;
    flex: $values;
}

@mixin flex-box($important: false) {
    @if ($important) {
        display: -webkit-box !important;
        display: -moz-box !important;
        display: -ms-flexbox !important;
        display: -webkit-flex !important;
        display: flex !important;
    } @else {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
}

@mixin flex-order($val) {
    -webkit-box-ordinal-group: $val;
    -moz-box-ordinal-group: $val;
    -ms-flex-order: $val;
    -webkit-order: $val;
    order: $val;
}

@mixin flex-align-item($val) {
    -ms-flex-align: $val;
    -webkit-align-items: $val;
    -webkit-box-align: $val;
    -moz-box-align: $val;
    align-items: $val;
}

@mixin flex-align-self($val) {
    -webkit-align-self: $val;
    align-self: $val;
}

@mixin flex-align-content($val) {
    -webkit-align-content: $val;
    align-content: $val;
}

@mixin flex-basis($width) {
    -webkit-flex-basis: $width;
    -ms-flex-basis: $width;
    flex-basis: $width;
}

@mixin transform($scale1, $scale2) {
    -moz-transform: scale($scale1, $scale2);
    -o-transform: scale($scale1, $scale2);
    -webkit-transform: scale($scale1, $scale2);
    transform: scale($scale1, $scale2);
}

@mixin transform-origin($origin) {
    -webkit-transform-origin: $origin;
    -moz-transform-origin: $origin;
    -ms-transform-origin: $origin; // IE9 only
    transform-origin: $origin;
}

@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin transition-delay($delay...) {
    -moz-transition-delay: $delay;
    -o-transition-delay: $delay;
    -webkit-transition-delay: $delay;
    transition-delay: $delay;
}

@mixin linear-gradient($top, $bottom...) {
    background: -moz-linear-gradient(top, $top 0%, $bottom 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $top 0%, $bottom 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $top 0%, $bottom 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@mixin liner-gradien-left($left, $right...) {
    background: -moz-linear-gradient(left, $left 0%, $right 100%);
    background: -webkit-linear-gradient(left, $left 0%, $right 100%);
    background: linear-gradient(to right, $left 0%, $right 100%);
}

@mixin box-sizing($boxmodel) {
    -webkit-box-sizing: $boxmodel;
    -moz-box-sizing: $boxmodel;
    box-sizing: $boxmodel;
}

@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
    box-shadow: $shadow;
}

@mixin opacity($opacity) {
    opacity: $opacity;
    // IE8 filter
    $opacity-ie: ($opacity * 100);
    filter: alpha(opacity=$opacity-ie);
}