@import "../config/vars";
@import "../libs/bootstrap/bootstrap-function";
@import "../config/mixins";
@import "../config/path";
@import "../config/fonts";

.custom-scrollbar {
    &::-webkit-scrollbar {
        @include size(5px, 5px);
    }

    &::-webkit-scrollbar-track {
        background-color: $color-grey-light;
        border-left: 1px solid $color-primary;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color-primary;
        @include transition(.3s);
        cursor: pointer;
        @include border-radius(5px);
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: lighten($color-primary, 3%);
    }

    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb {
        @include box-shadow(none);
        border: 0;
    }
}