/*Primary*/
$body-font: 'opensans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;

/* BASE COLOR */
$color-transparent: transparent;
$color-black: #000000;
$color-white: #ffffff;
$color-red: #ff0000;
$color-red-light: #ffb8c3;
$color-red-dark: #d9001b;
$color-grey: #cccccc;
$color-grey-light: #eeeeee;
$color-grey-dark: #888888;
$color-green: #52ae4c;
$color-green-light: #00d400;
$color-green-dark: #007300;
$color-blue: #0000FF;
$color-blue-light: #8bbbff;
$color-blue-dark: #0000af;
$color-yellow: #FFFF00;
$color-orange: #f39f1e;
$color-lime: #00FF00;
$color-cyan: #00FFFF;
$color-magenta: #FF00FF;
$color-silver: #C0C0C0;
$color-maroon: #800000;
$color-olive: #808000;
$color-purple: #800080;
$color-teal: #008080;
$color-navy: #000080;
$color-turquoise: #12b9d2;
$color-gold: #cbbc29;
$color-brown: #523809;

/* CUSTOM COLOR */
$color-primary: #54ABAD;
$color-primary-light: #70CBCF;
$color-primary-lighter: #e1f2f3;
$color-primary-text: $color-white;
$color-text-heading: #36454f;
$color-text-body: #4D555B;
$color-text-info: #A7A7A7;
$color-disabled: #DADADA;
$color-orange-light: #ffcc41;

/* BOOTSTRAP OVERWRITE */
$primary-color: $color-primary;
$brand-primary: $color-primary !default;
$brand-success: $color-primary-light !default;
$brand-info: $color-grey !default;
$brand-warning: $color-orange !default;
$brand-danger: $color-red-dark !default;

/* CUSTOMS */
$shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
$h-textbox: 35px;
$h-textbox-large: 42px;
$border-color-textbox: $color-grey;