@import "config/page-setting";

.page-auth {
    min-height: 100%;
    background: url('#{$path-img}/bg-chat.jpg') no-repeat left top;
    background-size: cover;
    .auth-box {
        margin-left: 100px;
        @include media-breakpoint-down(lg) {
            background: rgba(246, 246, 246, 0.7);
            padding: 20px;
            @include border-radius(3px);
        }
        @include media-breakpoint-down(md) {
            margin-left: 30px;
        }
        @include media-breakpoint-down(sm) {
            margin-left: 0;
        }
        .auth-head {
            h2 {
                @extend .opensansSemiBold;
                font-size: 35px;
                line-height: 40px;
                @include media-breakpoint-down(sm) {
                    font-size: 25px;
                    line-height: 30px;
                }
                strong {
                    @extend .opensansBold;
                }
            }
            h3 {
                @extend .opensansRegular;
                font-size: 25px;
                line-height: 30px;
                @include media-breakpoint-down(sm) {
                    font-size: 20px;
                    line-height: 25px;
                }
            }
            h4 {
                @extend .opensansRegular;
                font-size: 20px;
                line-height: 25px;
                @include media-breakpoint-down(sm) {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
        .auth-form {
            .control-label {
                color: $color-primary;
                font-size: 16px;
                line-height: 20px;
                @extend .opensansSemiBold;
            }
        }
    }
}