@import "config/page-setting";

.page-chat {
    background: lighten($color-grey-light, 3%);
    height: 100%;
    $chat-top: 60px;
    $chat-top-small: 50px;

    .col-chat-list-wrapper {
        background: $color-white;
        height: 100%;
        position: relative;
        padding-top: $chat-top;
        @include media-breakpoint-down(sm) {
            padding-top: $chat-top-small;
        }

        .chats-container {
            height: 100%;
            overflow: auto;
            overflow-x: hidden;
            @extend .custom-scrollbar;

            .chat-tab {
                text-align: center;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                background: $color-white;
                padding: 10px;
                z-index: 1;
                border-bottom: 1px solid darken($color-grey-light, 5%);
                height: $chat-top;
                overflow: hidden;
                @include media-breakpoint-down(sm) {
                    height: $chat-top-small;
                    padding-top: 8px;
                }

                a {
                    color: $color-grey;
                    font-size: 13px;
                    text-decoration: none;
                    padding-left: 0;
                    padding-right: 0;
                    @extend .opensansSemiBold;

                    &.active {
                        color: $color-text-body;
                        text-decoration: underline;
                        font-weight: 600;
                    }

                    .incoming {
                        color: $color-red;
                    }
                }
            }

            .chat-item {
                border-top: 1px solid $color-grey-light;
                border-bottom: 1px solid darken($color-grey-light, 5%);
                padding: 15px;
                @include transition(.3s);
                cursor: pointer;

                &.active {
                    background-color: $color-primary-lighter;

                    &:hover {
                        background-color: $color-primary-lighter;
                    }
                }

                &:hover {
                    background-color: lighten($color-primary-lighter, 5%);
                }

                &[data-status="done"] {
                    &:hover {
                        background-color: $color-white;
                    }
                    .notes {
                        display: inline-block;
                        background-color: $color-primary-lighter;
                    }
                    .btn-close {
                        display: inline-block;
                    }
                    img, .name, .spec, .time {
                        @include opacity(.5);
                    }
                    .notify, .message {
                        display: none;
                    }
                }

                &[data-status="match"] {
                    .notes {
                        display: inline-block;
                        background: $color-orange-light;
                        + div {
                            @include opacity(.7);
                        }
                    }
                }

                &[data-status="declined"] {
                    .notes {
                        display: inline-block;
                        background: $color-red;
                        color: $color-white;
                        + div {
                            @include opacity(.8);
                        }
                    }
                }

                &[data-status="accepted"],
                &[data-status="extended"] {
                    .notes {
                        display: inline-block;
                        background: $color-primary-light;
                        color: $color-white;
                    }
                }

                img {
                    @include square(40px);
                    @include border-radius(30px);
                    object-fit: cover;
                    background: $color-grey-light;
                    @include media-breakpoint-down(lg) {
                        @include square(36px);
                    }
                }

                .notes {
                    display: none;
                    padding: 0 5px;
                    @extend .opensansBold;
                    font-size: 11px;
                    @include border-radius(4px);
                    margin-bottom: 10px;
                    &.timeout {
                        background-color: $color-grey-light;
                        color: $color-text-body;
                    }
                    > div {
                        display: inline-block;
                        margin-left: 5px;
                    }
                }

                .name {
                    font-size: 14px;
                    @extend .opensansSemiBold;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                .spec {
                    font-size: 13px;
                    @extend .opensansSemiBold;
                    color: $color-grey-dark;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    margin-top: 2px;
                }

                .empty {
                    font-size: 13px;
                    @extend .opensansSemiBold;
                    color: $color-grey-dark;
                }

                .message {
                    font-size: 13px;
                    color: $color-grey-dark;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                .time {
                    font-size: 12px;
                    @extend .opensansSemiBold;
                    color: $color-primary;
                    white-space: nowrap;
                }

                .btn-close {
                    display: none;
                }

                .notify {
                    background: $color-primary;
                    color: $color-white;
                    display: inline-block;
                    @include square(22px);
                    text-align: center;
                    font-size: 11px;
                    line-height: 22px;
                    @include border-radius(30px);

                    &[data-count="0"] {
                        display: none;
                    }
                }

                .btn {
                    padding: 5px 10px;
                    text-transform: uppercase;
                    color: $color-white;
                    font-weight: 600;
                    font-size: 11px;
                }
            }
        }
    }

    .telemed-content {
        @include media-breakpoint-down(sm) {
            overflow: hidden;
        }
    }

    .col-detail {
        @include media-breakpoint-down(sm) {
            position: absolute;
            top: 0;
            width: 100%;
            background: $color-grey-light;
            z-index: 1;
            right: -100%;
            @include transition(.3s);
            &.open {
                right: 0;
            }
        }

        &[data-status="match"],
        &[data-status="done"] {
            .col-prescreening {
                display: none;
            }
        }

        .row-col-detail {
            @include media-breakpoint-down(lg) {
                position: relative;
                overflow: hidden;
            }
        }

        .col-chat-detail-wrapper {
            border-left: 1px solid $color-grey-light;
            height: 100%;

            .chat-menu-root {
                display: none;
            }

            .chat-root {
                height: 100%;
                position: relative;
                padding-top: $chat-top;

                .chat-top {
                    background: $color-white;
                    padding: 12px 15px 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    z-index: 1;
                    height: $chat-top;
                    overflow: hidden;
                    border-bottom: 1px solid darken($color-grey-light, 5%);
                    @include media-breakpoint-down(sm) {
                        overflow: visible;
                    }

                    .timer-wrapper {
                        color: $color-primary;
                        text-align: center;
                        font-size: 12px;
                        margin-top: -3px;
                        display: inline-block;

                        @include media-breakpoint-down(lg) {
                            margin-right: 30px;
                        }

                        @include media-breakpoint-down(sm) {
                            position: absolute;
                            left: 0;
                            background: $color-orange;
                            padding: 3px 5px;
                            right: 0;
                            top: 100%;
                            text-align: center;
                            margin-right: 0;
                            > div {
                                display: inline-block;
                                vertical-align: middle;
                                margin: 0 5px;
                                color: $color-white;

                                &.timer {
                                    font-size: 16px;
                                }
                            }
                        }

                        > div {
                            @extend .opensansSemiBold;
                        }

                        .timer {
                            font-size: 24px;
                            line-height: 1;
                            @extend .opensansBold;
                        }
                    }

                    img {
                        @include square(32px);
                        @include border-radius(30px);
                        object-fit: cover;
                        background: $color-grey-light;
                        margin-right: 10px;
                    }

                    .chat-title {
                        font-size: 16px;
                        line-height: 20px;
                        font-weight: 600;
                        display: inline-block;
                        vertical-align: middle;

                        .reference {
                            font-size: 12px;
                            line-height: 15px;
                            font-weight: normal;
                            color: $color-grey-dark;
                            margin-top: 5px;
                        }
                    }

                    .back {
                        display: none;
                        padding: 10px;
                        margin-left: -10px;
                        margin-right: 5px;
                        cursor: pointer;
                        vertical-align: middle;
                        @include media-breakpoint-down(sm) {
                            display: inline-block;
                        }
                        i {
                            font-size: 18px;
                        }
                    }

                    .summary {
                        position: absolute;
                        top: 0;
                        right: 10px;
                        cursor: pointer;
                        margin-right: -10px;
                        display: none;
                        @include media-breakpoint-down(lg) {
                            display: block;
                            padding: 20px;
                        }
                        i {
                            font-size: 18px;
                        }
                    }
                }

                .chat-main-root {
                    height: 100%;

                    .chat-main {
                        height: 100%;
                        position: relative;

                        .chat-body {
                            height: 100%;
                            overflow: auto;
                            overflow-x: hidden;
                            @extend .custom-scrollbar;
                            padding: 15px 15px 90px;
                            @include media-breakpoint-down(sm) {
                                padding-top: 35px;
                            }

                            .chat-message {
                                margin-bottom: 10px;
                                clear: both;

                                &:after {
                                    content: '';
                                    display: block;
                                    width: 100%;
                                    clear: both;
                                }

                                &.is-user {
                                    .message-content {
                                        float: right;
                                        background: $color-primary-lighter;

                                        &:before {
                                            border: none;
                                            @include triangle(right, $color-primary-lighter, 8px);
                                            left: auto;
                                            right: -8px;
                                        }

                                        .time-read {
                                            .read {
                                                display: inline-block;
                                                background: url('#{$path-icons}/icon-chat-read.svg') center center no-repeat;
                                                @include size(20px, 14px);
                                                background-size: auto 100%;
                                                vertical-align: middle;
                                                color: $color-transparent;
                                                text-indent: -999;

                                                &.active {
                                                    background-image: url('#{$path-icons}/icon-chat-delivered.svg');
                                                }
                                            }
                                        }
                                    }
                                }

                                .message-content {
                                    float: left;
                                    background: $color-white;
                                    color: $color-text-body;
                                    font-size: 15px;
                                    line-height: 20px;
                                    padding: 5px 10px;
                                    position: relative;
                                    @include border-radius(10px);
                                    width: 90%;
                                    @include box-shadow(1px 1px 3px $color-grey);

                                    &:before {
                                        @include triangle(left, $color-white, 8px);
                                        position: absolute;
                                        content: '';
                                        left: -8px;
                                        top: 8px;
                                    }

                                    &:after {
                                        content: '';
                                        display: block;
                                        width: 100%;
                                        clear: both;
                                    }

                                    .message-nickname {
                                        display: none;
                                    }

                                    .image-content {
                                        cursor: pointer;
                                        img {
                                            width: 100%;
                                            border: 1px solid $color-primary;
                                            @include border-radius(5px);
                                        }
                                    }

                                    .time-read {
                                        float: right;

                                        .time {
                                            color: $color-grey-dark;
                                            font-size: 11px;
                                            display: inline-block;
                                        }
                                    }

                                    .message-detail {
                                        display: inline-block;
                                        &.is-file {
                                            text-decoration: underline;
                                            color: $color-primary;
                                            @extend .opensansBold;
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                        }

                        .chat-input {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            z-index: 1;
                            background: $color-primary;
                            padding: 10px 10px 5px;

                            @include media-breakpoint-down(sm) {
                                padding: 5px 5px 0px;
                            }

                            &.disabled {
                                .input-file, .emoji, .send {
                                    display: none;
                                }
                                textarea {
                                    padding-left: 10px;
                                }
                            }

                            .input-text {
                                border: none !important;
                            }

                            .input-file {
                                position: absolute;
                                cursor: pointer;
                                width: 28px;
                                height: 24px;
                                left: 45px;
                                top: 19px;
                                background: url('#{$path-icons}/icon-attach.png') no-repeat center center;
                                background-size: auto 100%;
                                @include opacity(.3);
                            }

                            .emoji {
                                position: absolute;
                                cursor: pointer;
                                width: 24px;
                                height: 24px;
                                left: 20px;
                                top: 20px;
                                i {
                                    @include opacity(.5);
                                    color: $color-grey-dark;
                                    font-size: 22px;
                                }
                            }

                            .send {
                                position: absolute;
                                cursor: pointer;
                                width: 28px;
                                height: 28px;
                                right: 20px;
                                top: 16px;
                                i {
                                    color: $color-primary;
                                    font-size: 26px;
                                }
                            }

                            textarea {
                                border: none;
                                width: 100%;
                                height: 40px;
                                resize: none;
                                outline: none;
                                @include border-radius(3px);
                                padding: 10px 50px 10px 70px;
                                font-size: 15px;
                                @include media-breakpoint-down(sm) {
                                    padding-top: 5px;
                                    padding-bottom: 5px;
                                    font-size: 13px;
                                    line-height: 15px;
                                }
                            }

                            .typing-field {
                                font-size: 12px;
                                font-style: italic;
                                line-height: 20px;
                                color: $color-grey-dark;
                                background: lighten($color-grey-light, 3%);
                                position: absolute;
                                left: 0;
                                right: 10px;
                                bottom: 100%;
                                padding: 0 5px;
                                text-align: right;
                                font-family: Georgia, Times New Roman, serif;
                            }

                            .intercom-composer-popover {
                                left: 0;
                                right: auto;
                                .intercom-composer-popover-caret {
                                    left: 25px;
                                    right: auto;
                                }
                            }


                            /* HIDE FIRST */
                            .input-file {
                                display: none;
                            }
                            textarea {
                                padding-left: 45px;
                            }
                        }
                    }
                }
            }

            .empty-content {
                padding: 30px;
                text-align: center;

                .content-image {
                    background: url('#{$path-icons}/icon-chat.png') no-repeat center center;
                    background-size: auto 100%;
                    height: 200px;
                    margin-top: 100px;
                }

                .content-desc {
                    color: $color-text-body;
                    font-size: 14px;
                    margin-top: 40px;
                    @extend .opensansSemiBold;

                    span {
                        font-weight: 700;
                    }
                }
            }
        }

        .col-chat-info-wrapper {
            background: $color-white;
            border-left: 1px solid $color-grey-light;
            @include media-breakpoint-down(lg) {
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 1;
                right: -100%;
                @include transition(.3s);
                height: 100%;
                &.open {
                    right: 0;
                }
            }

            .tab-info {
                position: relative;
                height: 100%;
                .nav-tabs {
                    height: $chat-top;
                    position: absolute;
                    width: 100%;
                    top: 0;
                    left: 0;
                    background: $color-white;
                    z-index: 1;
                    .nav-link {
                        padding-top: 29px;
                        padding-left: 5px;
                        padding-right: 5px;
                        @extend .opensansSemiBold;
                        text-transform: none;
                        letter-spacing: normal;
                        text-align: center;
                        &.active {
                            @extend .opensansBold;
                        }
                    }
                }
                .tab-content {
                    height: 100%;
                    padding-top: $chat-top;
                    padding-bottom: 45px;
                    overflow: auto;
                    @extend .custom-scrollbar;
                }
            }

            .pre-screening {
                .pre-screening-section {
                    font-size: 14px;
                    line-height: 20px;
                    color: $color-primary;
                    margin-bottom: 30px;

                    .title {
                        @extend .opensansBold;
                        text-transform: uppercase;
                    }

                    .label {
                        color: $color-primary;
                        @extend .opensansSemiBold;
                    }

                    .value, .desc {
                        color: $color-text-body;
                    }

                    .desc {
                        margin-top: 5px;
                    }

                    .value {
                        position: relative;
                        @extend .opensansSemiBold;

                        .divider {
                            position: absolute;
                            left: -5px;
                            @include media-breakpoint-down(sm) {
                                display: none;
                            }
                        }
                    }
                }
                .pre-screening-form {
                    font-size: 14px;
                    .form-section {
                        .form-legend {
                            @extend .opensansSemiBold;
                            font-size: 15px;
                        }
                    }
                }
            }

            .btn-end-chat {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                text-align: center;
                z-index: 2;
                background: $color-white;
                overflow: hidden;
                border-top: 1px solid $color-grey-light;

                .btn {
                    text-transform: uppercase;
                    color: $color-grey-dark;
                    text-decoration: none;
                    @extend .opensansSemiBold;
                    padding: 10px;
                }
            }
        }
    }

}