@import "config/page-setting";

.page-schedule {
    .summary-wrapper {
        .box-summary {
            padding: 20px;
            border: 2px solid $color-transparent;
            color: $color-primary;
            @include box-shadow($shadow);
            @include border-radius(4px);
            height: 100%;
            &.next {
                border-color: $color-red-dark;
                color: $color-red-dark;
            }
            h3 {
                @extend .opensansSemiBold;
                font-size: 18px;
                line-height: 25px;
            }
            .current {
                font-size: 40px;
                line-height: 50px;
                @extend .opensansBold;
                vertical-align: baseline;
            }
            .total {
                font-size: 18px;
                line-height: 25px;
                @extend .opensansSemiBold;
                vertical-align: baseline;
            }
        }
    }
    .schedule-wrapper {
        margin-top: 30px;
        .tab-schedule {
            .tab-content {
                margin-top: 30px;
                border: 1px solid $color-grey-light;
                @include box-shadow($shadow);
                @include border-radius(4px);
                .head-nav {
                    padding: 15px;
                    border-bottom: 1px solid $color-grey-light;
                    .head-date-wrapper {
                        position: relative;
                        padding-left: 40px;
                        padding-right: 40px;
                        text-align: center;
                        .btn-nav {
                            position: absolute;
                            top: 50%;
                            margin-top: -16px;
                            z-index: 1;
                            &.left {
                                left: 0;
                            }
                            &.right {
                                right: 0;
                            }
                            i {
                                font-size: 18px;
                                @include media-breakpoint-down(sm) {
                                    font-size: 16px;
                                }
                            }
                        }
                        .date-wrapper {
                            border: none;
                            input {
                                text-align: right;
                                border: none;
                                font-size: 20px;
                                color: $color-primary;
                                @extend .opensansSemiBold;
                                padding-right: 40px;
                                width: 180px;
                                @include media-breakpoint-down(sm) {
                                    width: 140px;
                                    font-size: 18px;
                                    padding-right: 20px;
                                    text-align: left;
                                }
                            }
                            i {
                                color: $color-primary;
                                margin-top: -12px;
                            }
                        }
                    }
                }
                .schedule-daily-box {
                    font-size: 14px;
                    line-height: 20px;
                    .shift-wrap {
                        padding-left: 15px;
                        padding-right: 15px;
                        border-right: 1px solid $color-grey-light;
                        @include media-breakpoint-down(sm) {
                            padding-left: 15px;
                            padding-right: 15px;
                        }
                    }
                    .shift-head {
                        color: $color-primary;
                        @extend .opensansBold;
                        @include media-breakpoint-down(sm) {
                            display: none;
                        }
                        .shift-wrap {
                            padding: 10px 20px;
                        }
                    }
                    .shift-body {
                        position: relative;
                        z-index: 1;
                        min-height: 100px;
                        .schedule-list {
                            border-top: 1px solid $color-primary;
                            .shift-time {
                                @extend .opensansBold;
                                font-size: 20px;
                                line-height: 24px;
                                color: $color-primary;
                                @include media-breakpoint-down(sm) {
                                    display: block;
                                    padding: 10px;
                                    border-bottom: 1px solid $color-primary;
                                    margin-left: -15px;
                                    margin-right: -15px;
                                }
                            }
                            .schedule-doctor-list {
                                //overflow: auto;
                                min-height: 170px;
                                @extend .custom-scrollbar;
                                ol.doctors {
                                    margin: 0;
                                    li {
                                        padding: 10px 20px;
                                        border-bottom: 1px solid $color-grey-light;
                                        @include media-breakpoint-down(sm) {
                                            padding-left: 10px;
                                        }
                                    }
                                    .name {
                                        color: $color-text-body;
                                        &:hover {
                                            color: $color-primary;
                                        }
                                    }
                                    .remove {
                                        &[data-name="-"] {
                                            visibility: hidden;
                                        }
                                    }
                                    .status {
                                        display: inline-block;
                                        white-space: nowrap;
                                        text-transform: capitalize;
                                        .indicator {
                                            @include square(14px);
                                            display: inline-block;
                                            @include border-radius(100%);
                                            background: $color-grey;
                                            margin-right: 10px;
                                            vertical-align: middle;
                                        }
                                        .txt {
                                            vertical-align: middle;
                                            display: inline-block;
                                        }
                                        &.active, &.online {
                                            &:before {
                                                background: $color-green-light;
                                            }
                                        }
                                        &.busy, &.idle {
                                            &:before {
                                                background: $color-orange;
                                            }
                                        }
                                        &.empty {
                                            visibility: hidden;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .doctor-overall {
        .overall-wrapper {
            border: 1px solid $color-primary;
            @include border-radius(4px);
            .overall-wrap {
                border-right: 1px solid $color-primary;
                border-left: 1px solid $color-primary;
                padding: 40px 20px;
                @include media-breakpoint-down(sm) {
                    border-left: none;
                }
                @include media-breakpoint-down(sm) {
                    padding: 20px 15px;
                }
                &.first {
                    border: none;
                    @include media-breakpoint-down(sm) {
                        border-bottom: 1px solid $color-primary;
                    }
                }
                .rating-wrap {
                    .stars {
                        i {
                            font-size: 20px;
                        }
                    }
                }
                .name {
                    margin-top: 20px;
                    @extend .opensansBold;
                    color: $color-primary;
                    font-size: 16px;
                    line-height: 20px;
                }
                .specialization {
                    margin-top: 10px;
                    @extend .opensansSemiBold;
                    color: $color-orange;
                    font-size: 14px;
                    line-height: 20px;
                }
                .phone {
                    margin-top: 10px;
                    color: $color-primary;
                    font-size: 13px;
                    line-height: 18px;
                }
                .total-patient {
                    h5 {
                        @extend .opensansBold;
                        color: $color-primary;
                        font-size: 16px;
                        line-height: 20px;
                    }
                    h2 {
                        @extend .opensansSemiBold;
                        color: $color-primary;
                        font-size: 65px;
                        line-height: 88px;
                        @include media-breakpoint-down(sm) {
                            font-size: 40px;
                            line-height: 50px;
                        }
                    }
                }
            }
        }
    }
}