@import "config/page-setting";

.page-standard {
    .filter-section {
        .result {
            .current {
                font-size: 40px;
                line-height: 50px;
                @extend .opensansBold;
                vertical-align: baseline;
            }
            .total {
                font-size: 18px;
                line-height: 25px;
                @extend .opensansSemiBold;
                vertical-align: baseline;
            }
        }
    }
    .table-section {
        font-size: 14px;
        .td {
            strong {
                @extend .opensansSemiBold;
                font-size: 14px;
            }
        }
        .table-responsive {
            overflow: auto;
            @extend .custom-scrollbar;
        }
        table {
            width: 100%;
            min-width: 720px;
            td {
                vertical-align: top;
            }
            .number {
                width: 50px;
            }
            .action, .short {
                width: 100px;
            }
            .medium {
                width: 150px;
            }
            .long {
                width: 250px;
            }
            .td {
                padding-left: 10px;
                padding-right: 10px;
            }
            .table-head {
                padding: 15px;
                .th {
                    text-align: left;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
        .td-label {
            color: $color-primary;
            font-size: 13px;
            @extend .opensansSemiBold;
        }
        .table-head {
            .th {
                color: $color-text-body;
                font-size: 15px;
                line-height: 20px;
                @extend .opensansBold;
                padding-left: 5px;
                @include media-breakpoint-down(md) {
                    font-size: 14px;
                }
            }
        }
        .table-body {
            margin-top: 20px;
        }
        .table-list {
            padding: 15px;
            @include box-shadow($shadow);
            @include border-radius(4px);
        }
    }
    .form-section {
        .control-label {
            color: $color-primary;
        }
    }
}