.btn {
    outline: none;
    @include box-shadow(none);
    @include border-radius(0);
    @include transition(.3s);
    border-width: 1px;
    @extend .opensansSemiBold;

    &.btn-lg {
        font-size: 16px;
        @include media-breakpoint-down(sm) {
            font-size: 14px;
        }
    }

    &.rounded {
        @include border-radius(3px);
    }

    &:not(:disabled) {
        &:focus, &:hover {
            outline: none;
            @include box-shadow(none !important);
        }
        &:hover {
            @include opacity(0.9);
        }
    }

    &.btn-orange {
        background-color: $color-orange;
        border-color: $color-orange;
        color: $color-white;
    }
}