.dropdown-custom {
    @include border-radius(0);
    color: $color-primary;
    margin-top: -1px;
    padding: 0;
    min-width: 200px;
    background: $color-primary-text;

    .dropdown-item {
        color: $color-primary;
        display: block;
        position: relative;
        font-size: 12px;
        padding: 0;
        letter-spacing: 0.5px;
        line-height: 20px;
        text-transform: uppercase;
        @include transition(.3s);
        @include media-breakpoint-down(sm) {
            font-size: 12px;
            letter-spacing: 0.1px;
            line-height: 18px;
            padding: 5px 10px;
        }

        > a, > span {
            display: block;
            padding: 10px 20px;
            text-decoration: none;
            color: $color-primary;
            border-left: 5px solid $color-primary;
            @include media-breakpoint-down(sm) {
                padding: 5px 10px;
            }
        }
    }
}

.dropdown {
    &.show-on-hover {
        &:hover {
            > .dropdown-menu {
                display: block;
            }
        }
    }

    .dropdown-toggle {
        cursor: pointer;
    }

    .dropdown-menu {
        @extend .dropdown-custom;
    }

    .dropdown-submenu {
        position: relative;

        &:hover {
            > .dropdown-menu {
                display: block;
            }

            .dropdown-item {
                .dropdown-toggle {
                    background-color: $color-grey-light;
                }
            }
        }

        .dropdown-toggle {
            &:after {
                display: block;
                width: 0;
                height: 0;
                margin: 0;
                content: "";
                font-family: "Font Awesome 5 Regular";
                border: none;
                position: absolute;
                right: 20px;
                top: 50%;
                font-size: 10px;
                line-height: 20px;
                margin-top: -10px;
            }
        }

        .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -1px;
        }
    }
}