.animated-checkbox {
    input[type="checkbox"], input[type="radio"] {
        display: none;

        + .label-text {
            cursor: pointer !important;
            user-select: none;

            &:before {
                content: "\f0c8";
                font-family: 'Font Awesome 5 Regular';
                font-weight: 400;
                speak: none;
                font-style: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                font-size: 16px;
                -webkit-font-smoothing: antialiased;
                width: 1em;
                display: inline-block;
                margin-right: 4px;
                vertical-align: -1px;
                color: $color-grey-dark;
            }
        }

        &:checked + .label-text:before {
            font-family: "Font Awesome 5 Solid";
            font-weight: normal;
            content: "";
            color: $primary-color;
            animation: tick 180ms ease-in;
        }

        &:disabled + .label-text {
            cursor: not-allowed !important;

            &:before {
                content: "";
                color: #ccc;
            }
        }
    }
}

.animated-radio-button {
    input[type="checkbox"], input[type="radio"] {
        display: none;

        + .label-text {
            cursor: pointer !important;
            user-select: none;

            &:before {
                content: "";
                font-family: "Font Awesome 5 Solid";
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                font-size: 18px;
                -webkit-font-smoothing: antialiased;
                width: 1em;
                display: inline-block;
                margin-right: 2px;
                vertical-align: -2px;
                color: $color-grey-dark;
            }
        }

        &:checked + .label-text:before {
            content: "";
            color: $primary-color;
            animation: tick 180ms ease-in;
        }

        &:disabled + .label-text {
            cursor: not-allowed !important;

            &:before {
                content: "";
                color: #ccc;
            }
        }
    }
}

// Bounce the checked checkbox and radio button
@keyframes tick {
    0% {
        transform: scale(0);
    }

    90% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

.toggle {
    &.lg {
        input[type="checkbox"] + .button-indecator:before {
            font-size: 30px;
        }
    }

    input[type="checkbox"] {
        display: none;

        + .button-indecator {
            cursor: pointer;
            display: block;
            user-select: none;

            &:before {
                content: "";
                font-family: "Font Awesome 5 Solid";
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                font-size: 25px;
                -webkit-font-smoothing: antialiased;
                display: inline-block;
                margin-right: 5px;
                vertical-align: -2px;
                color: $color-grey;
            }
        }

        &:checked + .button-indecator:before {
            content: "";
            color: $primary-color;
            animation: toggleBtn 0.3s ease-in-out;
        }

        &:disabled + .button-indecator {
            cursor: not-allowed !important;

            &:before {
                color: #ccc;
            }
        }
    }
}

.default-input {
    line-height: 18px;
    font-size: 14px;
    padding: 6px 10px;
    color: $color-text-body;
    @include placeholder($color-grey);
    outline: none;
    @include border-radius(0);
    @include box-shadow(none !important);
    @include transition(.3s);
    background: $color-white;
    resize: none;
    border: 1px solid $border-color-textbox;

    &.rounded {
        @include border-radius(3px);
    }

    &:-webkit-autofill {
        @include box-shadow(inset 0 0 0px 9999px white !important);
    }

    &:read-only, &:disabled {
        background-color: $color-grey-light;
        cursor: default;
        color: $color-grey-dark;
    }

    &.error {
        border-color: $color-red !important;
    }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="search"],
input[type="file"],
select,
textarea {
    @extend .default-input;

    &.form-control {
        @extend .default-input;
    }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="search"],
input[type="file"],
select:not([multiple]) {
    height: $h-textbox;
    line-height: $h-textbox;
    &.large {
        height: $h-textbox-large;
        line-height: $h-textbox-large;
    }
}

select.form-control {
    background: $color-white;
}

.form-group {
    textarea {
        height: 100px;
    }

    .control-label {
        font-size: 14px;
        margin-bottom: 5px;
        @extend .opensansSemiBold;
    }

    .form-control {
        &:focus {
            border-color: $color-primary;
        }
    }

    &.line-style {
        position: relative;
        @include flex-box();
        flex-flow: column-reverse;
        margin-bottom: 15px;

        .control-label {
            @include transition(.3s);
            position: relative;
            z-index: 2;
            margin-bottom: 2px;
            order: 3;
        }

        .form-control {
            background: none;
            border-left: none;
            border-top: none;
            border-right: none;
            padding-left: 3px;
            padding-right: 3px;
            position: relative;
            z-index: 2;
            order: 2;
            @include transition(none);

            &:focus, &:valid {
                background: none;
            }

            &:read-only, &:disabled {
                padding-left: 10px;
                padding-right: 10px;
            }

            &.error {
                border-color: $color-red;
            }

            &:-webkit-autofill {
                padding-left: 5px;
                padding-right: 5px;
            }


            &::-webkit-input-placeholder {
                @include opacity(0);
                @include transition(inherit);
            }

            &:placeholder-shown + .control-label {
                cursor: text;
                max-width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                transform-origin: left bottom;
                transform: translate(0, 2rem) scale(1);
            }

            &:focus::-webkit-input-placeholder {
                @include opacity(1);
            }

            &:not(:placeholder-shown) + .control-label,
            &:focus + .control-label {
                transform: translate(0, 0) scale(1);
                cursor: default;
            }
        }


        label.error {
            position: absolute;
            z-index: 3;
            right: 0;
            color: $color-primary-text;
            background: $color-red-dark;
            font-style: normal;
            @extend .opensansSemiBold;
            padding: 2px 5px;
            top: 100%;
            cursor: pointer;
            order: 1;
            margin-top: 6px;

            &:after {
                position: absolute;
                top: -4px;
                right: 10px;
                @include triangle(top, $color-red-dark, 4px);
            }
        }
    }
}

.date-wrapper {
    position: relative;
    display: inline-block;
    background: $color-white;
    border: 1px solid $border-color-textbox;
    @include border-radius(4px);
    height: $h-textbox;

    &.large {
        height: $h-textbox-large;
    }

    &.error {
        border-color: $color-red;
    }

    &.line-style {
        border: none;
    }

    &.block {
        display: block;

        input[type="text"],
        input[type="date"] {
            width: 100%;
        }
    }

    input[type="text"],
    input[type="date"] {
        position: relative;
        z-index: 1;
        border-color: $color-transparent;
        height: 100%;
        background: $color-transparent;
        padding-right: 30px;
    }

    i {
        &[class*="calendar"] {
            color: $border-color-textbox;
            position: absolute;
            right: 5px;
            top: 50%;
            margin-top: -12px;
            z-index: 0;
            font-size: 16px;
        }
    }
}

.search-wrapper {
    position: relative;
    display: inline-block;
    height: $h-textbox;

    &.large {
        height: $h-textbox-large;
    }

    &.block {
        display: block;

    }

    input[type="text"],
    input[type="search"] {
        width: 100%;
        display: block;
        padding-right: 40px;
    }

    i {
        &[class*="search"] {
            color: $color-orange;
            position: absolute;
            right: 15px;
            top: 50%;
            margin-top: -6px;
            z-index: 0;
            font-size: 16px;
        }
    }
}

.select2-wrapper {
    @include flex-box();
    flex-wrap: wrap;
    &.large {
        .select2-container {
            .select2-selection--single {
                height: $h-textbox-large;
                .select2-selection__rendered {
                    line-height: $h-textbox-large;
                }
            }
        }
    }

    &.block {
        .select2-container {
            width: 100% !important;
        }
    }

    .select2-container {
        cursor: pointer;

        .select2-selection--single {
            height: $h-textbox;
            border-color: $border-color-textbox;

            .select2-selection__rendered {
                @extend .default-input;
                background-color: $color-white !important;
                border: none;
                height: 100%;
                padding-top: 0;
                padding-bottom: 0;
                padding-right: 30px;
                line-height: $h-textbox;
                @include border-radius(3px);
                cursor: pointer !important;
            }

            .select2-selection__arrow {
                height: 100%;
                right: 5px;
            }
        }
    }

    .select2 {
        * {
            &:focus {
                outline: none;
            }
        }
    }

    label.error {
        order: 100;

        + .select2-container {
            .select2-selection--single {
                border-color: $color-red;
            }
        }
    }
}

.select2-container--default {
    &.select2-container--open {
        .select2-search--dropdown {
            .select2-search__field {
                @extend .default-input;
                padding-left: 10px;
                padding-right: 10px;
                @extend .rounded;
            }
        }

        .select2-results {
            .select2-results__option {
                padding: 7px 10px;
                background-color: $color-white;
                font-size: 13px;

                &.select2-results__option--highlighted {
                    background-color: $color-primary-lighter;
                    color: $color-text-body;
                }
            }
        }
    }
}