.modal-open {
    overflow: hidden;
    position: absolute;
    @include square(100%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;

    .modal {
        padding: 0 !important;
    }
}

html.mobile {
    .modal-open {
        &.fixed {
            position: fixed;
        }
    }
}

.custom-modal {
    .modal-dialog {
        margin-left: auto;
        margin-right: auto;
        .modal-content {
            @include border-radius(3px);
            @include box-shadow(none);
            border: none;

            .btn-close {
                position: absolute;
                top: 15px;
                right: 15px;
                border: none;
                @include box-shadow(none);
                @include size(15px, 15px);
                background: none;
                padding: 0;
                margin: 0;
                line-height: 15px;
                display: block;
                outline: none;
                z-index: 2;
            }

            .modal-header {
                padding: 15px 30px 15px 20px;
                min-height: 40px;

                .title {
                    @extend .opensansSemiBold;
                    font-size: 16px;
                    line-height: 20px;
                    color: $primary-color;
                }
            }

            .modal-body {
                padding: 0;

                .wrapper {
                    padding: 20px;
                }
            }

            .modal-footer {
                text-align: center;
                padding: 15px 15px 30px;
            }

            .modal-header,
            .modal-footer {
                &.no-border {
                    border: none;
                }
            }
        }
    }

    &.full-screen {
        &:before {
            display: none;
        }

        .modal-dialog {
            @include size(100%, 100%);
            display: block;
            margin: 0;
            padding: 0;

            .modal-content {
                height: 100%;

                .modal-header {
                    position: fixed;
                    top: 0;
                    width: 100%;
                    background: $color_white;
                    z-index: 1;
                    height: 40px;
                }

                .modal-body {
                    height: 100%;
                    padding-top: 40px;

                    .wrapper {
                        height: 100%;
                        overflow: auto;
                    }
                }
            }
        }
    }
}

.modal-assign-doctor {
    .modal-dialog {
        width: 90%;
        max-width: 1024px;
    }
}