.tab-custom {
    .nav-tabs {
        .nav-link {
            padding: 10px 15px;
            border: none;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            background: none;
            color: $color-grey-dark;
            @include media-breakpoint-down(sm) {
                padding-left: 10px;
                padding-right: 10px;
            }

            &.active, &:hover {
                border: none;
                padding: 10px 15px;
                border-bottom: 3px solid $color-primary;
                color: $color-primary;
            }
            &.active {
                @extend .opensansBold;
                font-weight: 700;
            }
        }
    }

    .tab-wrapper {
        padding: 15px;
    }
}