::selection {
    color: $color_primary-text;
    background: $color_primary;
}

* {
    outline: none;
}

body {
    font-family: $body-font;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: normal;
    font-style: normal;
    font-weight: normal;
    color: $color-text-body;
    background-color: $color-white;
    min-width: 300px;
    min-height: 100%;
}

a {
    color: darken($color-primary, 10%);
    text-decoration: none;

    &:hover {
        color: $color-primary;
        text-decoration: none;
    }

    .txt {
        @extend .opensansSemiBold;
    }
}

ul, ol {

    &.list-number {
        list-style: decimal;
        padding-left: 20px;
    }

    &.list-bullet {
        list-style: circle;
        padding-left: 20px;
    }

    &.list-unstyled {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

img {
    max-width: 100%;
}

label {
    margin: 0;
    &.error {
        font-style: italic;
        margin-top: 4px;
        color: $color-red;
        font-size: 12px;
        font-family: Georgia, sans-serif;
        font-weight: normal;
    }
}

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    display: inline-block;
}

.img-wrapper {
    display: block;
}

.help-block {
    font-family: Georgia, sans-serif;
    margin-top: 5px;
    font-size: 12px;
    font-style: italic;
    display: block;
}

.font-icons-wrapper {
    i {
        font-size: 48px;
        @include media-breakpoint-down(sm) {
            font-size: 32px;
        }
    }
}

.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
    @include media-breakpoint-down(sm) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.form-group {
    .form-control {
        &.error {
            border-color: $color-red;
        }
    }
    .control-label {
        margin-bottom: 5px;
    }
}