$h_header_desktop: 70px;
$h_header_mobile: 50px;
.header {
    @include box-shadow($shadow);
    background-color: $color-white;
    padding-top: 15px;
    padding-bottom: 10px;
    height: $h_header_desktop;
    @include media-breakpoint-down(sm) {
        height: $h_header_mobile;
        padding-top: 10px;
    }

    .logo {
        height: 40px;
        @include media-breakpoint-down(sm) {
            height: 30px;
        }
    }

    .user-menu {
        min-width: 0;
        display: inline-block;
        .dropdown-toggle {
            &:after {
                display: none;
            }
        }
        .dropdown-menu {
            @include box-shadow($shadow);
            border: 1px solid $color-grey-light;
            @include border-radius(4px);
            width: 300px;
            margin-top: 15px;
            position: relative;
            &:before {
                @include triangle(top, $color-grey, 8px);
                position: absolute;
                right: 7px;
                top: -8px;
            }
            &:after {
                @include triangle(top, $color-white, 8px);
                position: absolute;
                right: 7px;
                top: -7px;
            }
            .top {
                padding: 20px;
                .time {
                    color: $color-grey-dark;
                    font-size: 11px;
                    line-height: 15px;
                }
                .name {
                    font-size: 14px;
                    margin-top: 5px;
                    @extend .opensansSemiBold;
                }
            }
            .bottom {
                border-top: 1px solid $color-grey-light;
                a {
                    display: block;
                    padding: 10px 20px;
                    color: $color-primary;
                    @extend .opensansBold;
                    text-align: center;
                    font-size: 13px;
                }
            }
        }
    }
}

.color-body {
    color: $color-text-body;
}

html, body, .content {
    height: 100%;
}

.content {
    padding-top: $h_header_desktop;
    @include media-breakpoint-down(sm) {
        padding-top: $h_header_mobile;
    }
}

.telemed {
    $width-sidebar: 100px;
    $width-sidebar_small: 50px;
    height: 100%;

    .sidebar-menu {
        position: fixed;
        bottom: 0;
        left: 0;
        top: $h_header_desktop;
        background: $color-primary;
        border-right: 1px solid $color-primary;
        width: $width-sidebar;
        @include media-breakpoint-down(sm) {
            width: $width-sidebar_small;
            top: $h_header_mobile;
        }

        .sidebar-lists {
            max-height: 100%;
            overflow: auto;
            overflow-x: hidden;
            @extend .custom-scrollbar;

            &::-webkit-scrollbar-track {
                background-color: $color-primary;
                border-left: none;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $color-grey-light;
            }

            &::-webkit-scrollbar-thumb:hover {
                background-color: $color-grey-light;
            }
            .sidebar-item {
                border-bottom: 1px solid $color-primary-light;
                > a {
                    display: block;
                    color: $color-white;
                    text-align: center;
                    padding: 15px 10px;
                    text-decoration: none;
                    font-size: 13px;
                    @extend .opensansSemiBold;
                    @include transition(.3s);

                    &:hover {
                        background-color: darken($color-primary, 5%);
                    }

                    &.active {
                        background-color: $color-primary-light;
                        cursor: default;
                    }

                    i {
                        margin-bottom: 5px;
                        &.fa {
                            font-size: 24px;
                        }
                    }

                    div {
                        @include media-breakpoint-down(sm) {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .telemed-content {
        margin-left: $width-sidebar;
        height: 100%;
        overflow: auto;
        position: relative;
        @extend .custom-scrollbar;
        @include media-breakpoint-down(sm) {
            margin-left: $width-sidebar_small;
        }
        .telemed-wrapper {
            padding: 40px;
            @include media-breakpoint-down(lg) {
                padding: 30px;
            }
            @include media-breakpoint-down(md) {
                padding: 20px;
            }
            @include media-breakpoint-down(sm) {
                padding: 15px;
            }
            .telemed-title {
                font-size: 24px;
                line-height: 30px;
                @extend .opensansBold;
                color: $color-primary;
                @include media-breakpoint-down(sm) {
                    font-size: 20px;
                    line-height: 25px;
                }
            }
            .telemed-back {
                font-size: 16px;
                line-height: 20px;
                @extend .opensansSemiBold;
                color: $color-primary;
                @include media-breakpoint-down(sm) {
                    font-size: 13px;
                }
            }
            .telemed-subtitle {
                font-size: 18px;
                line-height: 25px;
                @extend .opensansBold;
                color: $color-primary;
            }
        }
        .telemed-loading {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgba($color-primary-lighter, 0.8);
            z-index: 99;
            &.white {
                background: rgba($color-white, 0.8);
            }
            img {
                @include square(48px);
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -24px;
                margin-top: -24px;
            }
        }
    }
}

.avatar-wrap {
    position: relative;
    @include square(100px);
    display: inline-block;
    z-index: 1;
    padding: 3px;
    @include transition(.1s);

    &.small {
        @include square(64px);
    }

    &.mini {
        @include square(36px);
    }

    &.active {
        padding: 4px 6px 6px 4px;
        z-index: 9;

        .img-frame {
            background: $color-white;
            @include square(100%);
            position: absolute;
            top: 0;
            left: 0;
            @include border-radius(100%);
            background: url("#{$path-img}/avatar-wrapper.png") no-repeat center center;
            background-size: 100%;
            @include border-radius(0);
            z-index: 2;
        }

        img {
            @include square(100%);
            @include border-radius(100%);
            position: relative;
            z-index: 1;
            @include transition(.3s);
            display: inline-block;
            vertical-align: middle;
            background: url("#{$path-img}/avatar-default.png") no-repeat center center $color-white;
            background-size: cover;
            border: 1px solid $color-grey;
        }
    }
}

.avatar-profile {
    @include square(36px);
    @include border-radius(100%);
    display: inline-block;
    background: url('#{$path-img}/avatar-default.png') no-repeat center center;
    background-size: auto 100%;
    &.medium {
        @include square(60px);
        .avatar {
            @include square(60px);
        }
    }
    &.large {
        @include square(200px);
        .avatar {
            @include square(200px);
        }
    }
    .avatar {
        @include square(36px);
        @include border-radius(100%);
        object-fit: cover;
        background: $color-white;
    }
}

.rating-wrap {
    .score {
        color: $color-text-heading;
        .current {
            font-size: 50px;
            line-height: 60px;
            @extend .opensansBold;
            vertical-align: baseline;
            @include media-breakpoint-down(sm) {
                font-size: 30px;
                line-height: 40px;
            }
        }
        .total {
            font-size: 18px;
            line-height: 25px;
            @extend .opensansSemiBold;
            vertical-align: baseline;
            @include media-breakpoint-down(sm) {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
    .title {
        font-size: 16px;
        line-height: 25px;
        @extend .opensansSemiBold;
        @include media-breakpoint-down(sm) {
            font-size: 14px;
            line-height: 20px;
        }
    }
    .stars {
        white-space: nowrap;
        i {
            color: $color-grey;
            @include media-breakpoint-down(sm) {
                font-size: 16px;
            }
            &.checked {
                color: $color-orange-light;
            }
        }
    }
    .total {
        font-size: 18px;
        line-height: 25px;
        @extend .opensansSemiBold;
    }
}